{% extends "/admin/layouts/default.twig" %}
{% block page %}

<div class="mt-5 container">
    <div class="d-flex justify-content-between">
        <h1>Quản lí phòng trọ</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Thêm phòng trọ mới
        </button>
    </div>
    <hr />
    <div class="row">
        <div class="col-8 offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">

                        <li><a class="dropdown-item filter" data-filter="asc">Prices increase</a></li>
                        <li><a class="dropdown-item filter" data-filter="desc">Prices decrease</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item filter" data-filter="anything">Anything</a></li>
                    </ul>
                </div>
                <input type="text" id="search-bar" class="form-control" placeholder="Search term...">
                <button class="btn btn-outline-secondary" type="button" id="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <table class="table table-hover my-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Tên</th>
                <th scope="col">Tình trạng</th>
                <th scope="col">Loại phòng</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <th scope="row">{{ loop.index + (paginator.currentPage - 1) * 10 }}</th>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.status }}</td>
                <td>{{ room.type_room }}</td>
                <td>{{ room.price }}</td>
                <td>
                    <a class="btn btn-secondary" href="/admin/room/detail?id={{ room.id }}">Detail</a>
                    <a class="btn btn-warning mx-2" href="/admin/room/update?id={{ room.id }}">Update</a>
                    <button class="btn btn-danger delete-room" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-roomname="{{ room.name }}" data-id="{{ room.id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <div class="d-flex justify-content-center gap-4">
            <div>
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item{{ paginator.getPrevPage() ? '' : ' disabled' }}">
                        <a role="button" href="{{ url_with_params('page', paginator.getPrevPage) }}" class="page-link">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    {% for page in paginator.pages %}
                    <li class="page-item{{ paginator.currentPage == page ? ' active' : '' }}">
                        <a role="button" href="{{ url_with_params('page', page) }}" class="page-link">{{ page }}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item{{ paginator.getNextPage() ? '' : ' disabled' }}">
                        <a role="button" href="{{ url_with_params('page', paginator.getNextPage) }}" class="page-link">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <input type="number" class="form-control page-input" placeholder="Nhập số trang">
                    <button class="btn btn-outline-secondary page" type="button">
                        <i class="bi bi-list-ol"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>

</div>

<!-- Modal -->
<div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/room/add" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new room</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <select class="form-select {% if errors.type_room %}is-invalid{% endif %}" id="type_room" name="type_room"
                            aria-label="Floating label select example" required>
                            {% for type_room in type_rooms %}
                            <option value="{{ type_room.id }}" {% if formError.type_room==type_room.id %}selected{% endif %}>{{
                                type_room.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="type_room">type_room</label>
                        <div class="invalid-feedback">
                            {{ errors.type_room }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}" id="name"
                            name="name" placeholder="room name" value="{{ formError.name }}" required>
                        <label for="name">room name</label>
                        <div class="invalid-feedback">
                            {{ errors.name }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control {% if errors.short_description %}is-invalid{% endif %}"
                            name="short_description" placeholder="Short description" id="short_description"
                            style="height: 30px" required>{{ formError.short_description }}</textarea>
                        <label for="short_description">Short description</label>
                        <div class="invalid-feedback">
                            {{ errors.short_description }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control {% if errors.long_description %}is-invalid{% endif %}"
                            name="long_description" placeholder="Long description" id="long_description"
                            style="height: 100px" required>{{ formError.long_description }}</textarea>
                        <label for="long_description">Long description</label>
                        <div class="invalid-feedback">
                            {{ errors.long_description }}
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <div class="form-floating mb-3 col-6">
                            <input type="number" class="form-control {% if errors.price %}is-invalid{% endif %}"
                                id="price" name="price" placeholder="Price (VND)" value="{{ formError.price }}"
                                required>
                            <label for="price">Price (VND)</label>
                            <div class="invalid-feedback">
                                {{ errors.price }}
                            </div>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            <select class="form-control {% if errors.status %}is-invalid{% endif %}" aria-label="Default select example"
                                id="status" name="status" required>
                                <option value="Còn trống" {{ room.status=='Còn trống' ? 'selected' : '' }}>Còn trống</option>
                                <option value="Đã đặt" {{ room.status=='Đã đặt' ? 'selected' : '' }}>Đã đặt</option>
                                <option value="Chờ duyệt" {{ room.status=='Chờ duyệt' ? 'selected' : '' }}>Chờ duyệt</option>
                            </select>
                            <label for="status">status</label>
                            <div class="invalid-feedback">
                                {{ errors.status }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">room image</label>
                        <input accept="image/png, image/gif, image/jpeg" class="form-control file-input" type="file"
                            id="formFile" name="image">

                    </div>
                    <div style="border-style: dashed !important; height: 20vh;"
                        class="mb-3 w-100 border border-secondary d-flex justify-content-center">
                        <div class="previewDivImage position-relative"></div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteForm" action="/admin/room/delete" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <div class="modal-header">
                    <h5 class="modal-title">Delete room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa phòng này? <span id="modal-roomname"></span></p>
                    <input type="hidden" name="room_id" id="modal-room-id">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>

</footer>
</body>

<script>
    const modalElement = document.getElementById('exampleModal');
    const modal = new bootstrap.Modal(modalElement);
    const btn_deleteroom = document.querySelectorAll(".delete-room");
    btn_deleteroom.forEach(button => {
        button.addEventListener('click', () => {
            const roomName = button.getAttribute('data-roomname');
            const roomId = button.getAttribute('data-id');

            document.getElementById('modal-roomname').textContent = roomName;
            document.getElementById('modal-room-id').value = roomId;
        });
    });

    const getSearchValue = () => {
        return document.getElementById('search-bar').value;
    }
    const searchButton = document.getElementById('search-button')
    searchButton.addEventListener('click', () => {
        let fullLink = window.location.href;
        const url = new URL(fullLink);
        if (getSearchValue() === '' || getSearchValue() === null) {
            url.searchParams.delete('search')
            window.location.href = url
        } else {
            url.searchParams.set('search', getSearchValue());
            window.location.href = url
        }

    });
    const dropdown = document.querySelectorAll(".filter");
    dropdown.forEach((item) => {
        item.addEventListener('click', (e) => {
            let fullLink = window.location.href;
            const url = new URL(fullLink);
            if (item.getAttribute('data-filter') === 'any') {
                url.searchParams.delete('sort')
                window.location.href = url
            } else {
                url.searchParams.set('sort', (item.getAttribute('data-filter')));
                window.location.href = url
            }
        })
    })
    const pageButton = document.querySelector('.page');
    const pageInput = document.querySelector('.page-input');
    pageButton.addEventListener('click', () => {
        let fullLink = window.location.href;
        const url = new URL(fullLink);
        let pageNum = pageInput.value;
        if (pageNum < 0 || pageNum === '' || pageNum === null || pageNum === ' ') {
            pageNum = 1;
        }
        url.searchParams.set('page', pageNum)
        window.location.href = url
    })
    ///tu dong them vao input
    let fullLink = window.location.href;
    let url = new URL(fullLink);
    if (url.searchParams.has('page')) {
        let pageValue = url.searchParams.get('page');
        pageInput.value = pageValue;
    }
    if (url.searchParams.has('search')) {
        let pageValue = url.searchParams.get('search');
        document.getElementById('search-bar').value = pageValue;
    }
</script>
{% if isOpenModal %}
<script>

    const modal1 = new bootstrap.Modal(document.getElementById('staticBackdrop'));
    modal1.show();

</script>
{% endif %}
{% endblock %}