<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=type_room-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <style>
        /* body {
            font-family: 'Poppins', sans-serif;
            background: #dfdfdf;
        } */

        #sidebar {
            background: #6d6d6d;
            min-height: 100vh;
            color: white;
            transition: all 0.3s;
            overflow-y: scroll;
            top: 0;
            height: 100vh;
        }

        #sidebar ul {
            padding: 0;
            list-style-type: none;
        }

        #sidebar .sidebar-header {
            background: #333333;
            padding: 20px;
            cursor: pointer;
        }

        #sidebar .active {
            margin-left: 0;
            background-color: #7386D5;
        }

        #sidebar ul li a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
        }

        #sidebar ul li a:hover {
            background-color: white;
            color: #7386D5;
        }

        .content {
            width: 100%;
            padding: 20px;
        }

        /* Sidebar toggle button on smaller screens */
        @media (max-width: 992px) {
            #sidebar {
                margin-left: -250px;
            }

            #sidebar.active {
                margin-left: 0;
            }

            #sidebarCollapse {
                display: block;
            }
        }

        /* Show sidebar and hide button on larger screens */
        @media (min-width: 992px) {
            #sidebarCollapse {
                display: none;
            }

            #sidebar {
                margin-left: 0;
            }
        }

        .avatar {
            vertical-align: middle;
            width: 200px;
            height: 200px;
        }

        main.container>.d-flex {
            gap: 50px;
        }
    </style>
</head>

<body>
    <div class="wrapper d-flex">

        <nav id="sidebar" class="col-lg-2 col-md-4 position-sticky">

            <div class="sidebar-header" onclick="window.location.replace(`/admin/room`);">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                </svg>
                <h3>room name</h3>
            </div>
            <ul class="list-unstyled components">
                {% for p in listrooms %}
                <li class="{{ room.id == p.id ? 'active' : '' }}"><a href="/admin/room/update?id={{ p.id }}">{{
                        p.name }}</a></li>
                {% endfor %}
            </ul>



        </nav>

        <div class="content flex-grow-1">
            <nav class="navbar navbar-light">
                <!-- Sidebar Toggle Button -->
                <button type="button" id="sidebarCollapse" class="btn btn-info d-lg-none">
                    <i class="fa fa-align-justify"></i>
                </button>
            </nav>
            <div style="margin-top: 15vh;">
                <main class="container">
                    <div class="d-flex ">
                        <div
                            class="p-5 col-4 rounded bg-white d-flex justify-content-center align-items-center flex-column">
                            <img class="avatar"
                                src="/assets/uploads/rooms/{{room.image ? room.image  : 'images.jpg' }}" />
                            <h2 class="d-flex justify-content-center">{{room.name}}</h2>
                            <div class="">
                                <form id="image-form" action="/admin/room/update-image" method="post"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <label class="btn btn-info mx-2">
                                        Update room image
                                        <input accept="image/png, image/gif, image/jpeg" type="file" id="new-image"
                                            name="new_image" style="display: none;"
                                            onchange="document.getElementById('image-form').submit();">
                                        <input type="hidden" name="room_id" value="{{ room.id }}">
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-8 rounded bg-white p-3">

                            <form action="/admin/room/update" method="post">
                                <input type="hidden" name="id" value="{{ room.id }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                                <div class="form-floating mb-3">
                                    <select class="form-select {% if errors.type_room %}is-invalid{% endif %}" id="type_room"
                                        name="type_room" aria-label="Floating label select example" required>
                                        {% for type_room in type_rooms %}
                                        <option value="{{ type_room.id }}" {% if room.type_room==type_room.id %}selected{% endif
                                            %}>{{ type_room.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="type_room">type_room</label>
                                    <div class="invalid-feedback">
                                        {{ errors.type_room }}
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}"
                                        id="name" name="name" placeholder="room name" value="{{ room.name }}"
                                        required>
                                    <label for="name">room name</label>
                                    <div class="invalid-feedback">
                                        {{ errors.name }}
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea
                                        class="form-control {% if errors.short_description %}is-invalid{% endif %}"
                                        name="short_description" placeholder="Short description" id="short_description"
                                        style="height: 30px" required>{{ room.short_description }}</textarea>
                                    <label for="short_description">Short description</label>
                                    <div class="invalid-feedback">
                                        {{ errors.short_description }}
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea class="form-control {% if errors.long_description %}is-invalid{% endif %}"
                                        name="long_description" placeholder="Long description" id="long_description"
                                        style="height: 100px" required>{{ room.long_description }}</textarea>
                                    <label for="long_description">Long description</label>
                                    <div class="invalid-feedback">
                                        {{ errors.long_description }}
                                    </div>
                                </div>

                                <div class="d-flex gap-3">
                                    <div class="form-floating mb-3 col-6">
                                        <input type="number"
                                            class="form-control {% if errors.price %}is-invalid{% endif %}" id="price"
                                            name="price" placeholder="Price (VND)" value="{{ room.price }}" required>
                                        <label for="price">Price (VND)</label>
                                        <div class="invalid-feedback">
                                            {{ errors.price }}
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-6">
                                        
                                        <select class="form-control {% if errors.status1 %}is-invalid{% endif %}" aria-label="Default select example" id="status"
                                            name="status" required>
                                            <option value="Còn trống" {{ room.status=='Còn trống' ? 'selected' : '' }}>Còn trống</option>
                                            <option value="Đã đặt" {{ room.status=='Đã đặt' ? 'selected' : '' }}>Đã đặt</option>
                                            <option value="Chờ duyệt" {{ room.status=='Chờ duyệt' ? 'selected' : '' }}>Chờ duyệt</option>
                                        </select>
                                        <label for="status">Status</label>
                                        <div class="invalid-feedback">
                                            {{ errors.status1 }}
                                        </div>

                                    </div>
                                </div>

                                <button type="submit" class="btn btn-warning my-3">Update</button>
                            </form>

                        </div>

                    </div>
            </div>
            </main>
        </div>
    </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('sidebarCollapse').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
        });
    });

</script>
{% if status1 %}
<script>
    Toastify({
        text: "{{ status1 }}",
        className: "info",
        duration: 3000,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "right",
        style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)"
        }
    }).showToast();
</script>
{% endif %}

</html>